@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all);

@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "../../../node_modules/toastr/toastr";
@import "../../../node_modules/simple-line-icons/scss/simple-line-icons";
@import "../../../node_modules/jquery-uniform/themes/default/css/uniform.default.scss";
@import "../../../node_modules/jquery-uniform/themes/default/css/uniform.default.scss";

.alert-notify {
  position: absolute;
  display: block;
  z-index: 9999;
  width: 100%;
}

.alert-notify .close {
  margin-top: 5px;
}
